Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^.*$ ./index.php

SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/json application/ld+json
